mixin paginationItem(number, active)
  li.pagination__item
    a.pagination__link(class=active === true ? "pagination__link--active": false, href=active === true ? false : "#", title=active === true ? `Текущая страница ${number}` : `Перейти на страницу № ${number}`) #{number}

div.catalog__pagination.pagination
  ul.pagination__list
    +paginationItem("1", true)
    +paginationItem("2", false)
    +paginationItem("3", false)
    +paginationItem("4", false)