mixin checkBoxfilter(filterId, label)
  div.catalog-filter__box
    input.catalog-filter__checkbox(id=filterId, type="chekbox", name=filterId)
    label.catalog-filter__label(for=filterId) #{label}

mixin radiofilter(filterId, filterName, label, isChecked)
  div(class='catalog-filter__box catalog-filter__box--radio')
    input.catalog-filter__radio(id=filterId, type='radio' name=filterName value=filterId checked=isChecked)
    label.catalog-filter__label(for=filterId) #{label}

.catalog-filter
  form.catalog-filter__form
    fieldset.catalog-filter__fieldset
      p.catalog-filter__legend Категория
      +checkBoxfilter('fiction', 'Художественная литература')
      +checkBoxfilter('for-children', 'Книги для детей')
      +checkBoxfilter('education', 'Образование')
      +checkBoxfilter('science-and-technology', 'Наука и техника')
      +checkBoxfilter('society', 'Деловая литература')
      +checkBoxfilter('business-literature', 'Общество')
      +checkBoxfilter('health', 'Здоровье')
      +checkBoxfilter('hobby', 'Увлечения')
      +checkBoxfilter('psychology', 'Психология')
      +checkBoxfilter('esoterics', 'Эзотерика')
      +checkBoxfilter('philosophy', 'Философия и религия')
      +checkBoxfilter('art', 'Искусство')
    fieldset.catalog-filter__fieldset
      p.catalog-filter__legend Статус
      +radiofilter('bestsellers', 'status', 'Хиты продаж', false)
      +radiofilter('news-books', 'status', 'Новинки', true)
      +radiofilter('preorder', 'status', 'Предзаказ', false)
    fieldset.catalog-filter__fieldset
      p.catalog-filter__legend Наличие
      +radiofilter('in-the-shop', 'availability', 'В магазине', false)
      +radiofilter('in-the-internet-shop', 'availability', 'В интернет-магазине', false)
      +radiofilter('under-the-order', 'availability', 'Под заказ', false)
